
body {
    color: #333 !important;

    background: url('/ui/images/bg.png') center top;
}

a {
    text-decoration: none;
}

table td a {
    color: rgba(95, 156, 199, 1);
}

table th {
    font-size: 13px !important;
}

.mdl-layout-title a {
    color: #eee;
}

.mdl-layout-title i {
    font-size: 50px;
}

.mdl-layout__header {
    background-color: #475057 !important;
}

.tableDiv {
    padding: 20px;
}

.mdl-data-table {
    width: 100%;
    white-space: normal;
}

.mdl-data-tables-test  td, 
.mdl-data-tables-test th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-align: left;
}

th.alignCenter {
    text-align: center !important;
}

th.heightThTable {
    min-width: 120px !important;
}

th.transactionsThTable {
    min-width: 120px !important;
}

th.feeThTable {
    min-width: 80px !important;
}

th.payloadThTable {
    min-width: 120px !important;
}

th.baseTargetThTable {
    min-width: 120px !important;
}

.blockThTable {
    width: 280px !important;
    font-weight: bold;
}

.bold a {
    font-weight: bold;
}

.boldText {
    font-weight: bold;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}

.leftTable {
    width: 250px !important;
    float: left;
}

.rightTable {
    width: calc(100% - 330px) !important;
    float: right;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.paginationDiv {
    padding: 20px;
}

.paginationDiv button {
    font-size: 12px !important;
    border: 1px solid #eee;
    width: 20px !important; 
}

footer {
    background-color: #475057 !important;
    min-height: 50px;
    width: 100%;
    vertical-align: middle;
}

.footerAlignRight {
    text-align: right;
    color: #eee;
    font-size: 12px;
    line-height: 25px;
    padding-right: 20px;
}

.footerAlignLeft {
    text-align: left;
    color: #eee;
    font-size: 12px;
    line-height: 50px;
    padding-left: 20px;
}

.smallCol {
    width: 20px !important;
}

.greenText i,
.redText i {
    font-size: 17px !important;
}

.showDate {
    margin-left: 50px;
}

table i {
    vertical-align: middle;
}

table th .tbHeaderDiv i {
    font-size: 40px !important;
}

.sideTitle,
table .tbHeader {
    border-bottom: 2px solid #aaa;
}

table .tbHeaderDiv {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
    margin: 24px 0 16px;
}

table .tbHeaderPagination {
    line-height: 1;
    letter-spacing: .02em;
    margin: 27px 15px 16px;
}

.bigIcons {
    font-size: 30px !important;
}

.winnersBackgroundDiv {
    width: 100%;
    flex: 1;
    display: flex;
}

.winnersTableDiv {
    margin: 20px;

    font-weight: 700;
    line-height: 24px;
    color: rgba(0, 0, 0, .54);
}

.winnersTableDivss div {
    padding: 10px;
}

.showWinnersDetails {
    padding-left: 50px;
    font-size: 18px;
}

.clearDiv {
    clear: both;
}

/*
.firstWinner {
    color: rgb(255,64,129);
}

.restWinners {
    color: rgba(95, 156, 199, 1);
}
*/

table td a.winnerPoolLink {
    color: rgba(0, 0, 0, .54) !important;
}

.classicColor {
    color: rgba(0, 0, 0, .54) !important;
}

.settingsDiv {
    padding: 20px;
}

.settingsDiv span {
    margin-left: 20px;
}

.settingsDiv div.mdl-menu__container {
    max-height: 350px !important;
    overflow-y: scroll;
}

span[class^="numberList"] {
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, .54);
    color: #eee;
    font-weight: 700;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.cardTop {
    width: auto !important;
    color: rgba(0, 0, 0, .54);
}

.cardTop > .mdl-card__title {
    height: 100px;
    background: url('/ui/images/finishline.png') left bottom;
}

.cardTop .mdl-card__menu {
    color: #fff;
}

.cardTop h2{
    color: #fff;
    font-weight: 500 !important;
}

span[class^="coloredWinnerBlocks"] {
    white-space: nowrap;
}

.fixedIconDiv {
    position: absolute;
    z-index: -100px;
}

.fixedIconDiv i {
    font-size: 300px;
    margin-left: 20px;
    color: rgba(0, 0, 0, .2);
}

.cardInfo {
    width: 600px !important;
    height: 630px;
    margin-top: 80px;
    color: rgba(0, 0, 0, .54);
}

.cardInfo > .mdl-card__title {
    height: 80px;
    background: url('/ui/images/statistics.png') center top;
}

.cardTop .mdl-card__title-text,
.cardInfo .mdl-card__title-text {
    background-color: #fff;
    color: rgba(0, 0, 0, .54);
    border-radius: 5px;
    padding: 5px;
}

.cardTop .mdl-card__menu,
.cardInfo .mdl-card__menu {
    background-color: #fff;
    color: rgba(0, 0, 0, .54);
    border-radius: 50%;
}

.cardInfo h2{
    font-weight: 500 !important;
}

.cardInfo .mdl-card__supporting-text p i {
    font-size: 50px;
}

.cardInfo .mdl-card__supporting-text p {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

.mdl-card i {
    vertical-align: middle;
}

#clockbox2 {
    font-size: 20px;
    margin-left: 0 !important;
}

.underText {
    border-bottom: 1px dashed rgba(95, 156, 199, 1);
    cursor: pointer;
}